<a href="{% url 'server_settings' 1 %}" class="text-gray fs-6 fw-light bar-link"><span class="text-white"># </span>server-settings</a>
<a href="{% url 'server_mwl' 1 %}" class="text-gray fs-6 fw-light bar-link"><span class="text-white"># </span>server-mwl</a>
<a href="{% url 'server_autorole' 1 %}" class="text-gray fs-6 fw-light bar-link"><span class="text-white"># </span>server-autorole</a>
<a href="{% url 'twitch'%}" class="text-gray fs-6 fw-light bar-link"><span class="text-white"># </span>twitch-notifications</a>
<a href="{% url 'categories' %}" class="text-gray fs-6 fw-light bar-link"><span class="text-white"># </span>server-categories</a>
<a href="{% url 'server_protection' %}" class="text-gray fs-6 fw-light bar-link"><span class="text-white"># </span>server-protection</a>
<a href="{% url 'server_cc' %}" class="text-gray fs-6 fw-light bar-link"><span class="text-white"># </span>custom-commands</a>