{% load static %}

<div class="rightbar">
    <div class="p-4 d-flex flex-column justify-content-between">
        <div>
            <span class="text-white fw-bold fs-5">DEV</span>
            <div class="d-flex text-center mt-2">
                <img src="{% static 'main/katri.png' %}" alt="x" class="avatar-side">
                <div class="d-flex flex-column">
                    <span class="text-white fs-5 mx-2 fw-bold">Katrixerse</span>
                    <small class="text-white">Playing in <span class="text-info">VSC</span></small>
                </div>
            </div>
            <div class="d-flex mt-4">
                <img src="{% static 'main/andrei.webp' %}" alt="x" class="avatar-side">
                <div class="d-flex flex-column">
                    <span class="text-white fs-5  mx-2 fw-bold">Andrei_</span>
                    <small class="text-white mx-2">Listening to <span class="text-success fw-bold">Spotify</span></small>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <span class="text-white fw-bold fs-5">BOT</span>
            <div class="d-flex mt-2">
                <img src="{% static 'main/logo.webp' %}" alt="x" class="avatar-side">
                <div class="d-flex flex-column">
                    <span class="text-white fs-5 mx-2 fw-bold">Robot Hamster</span>
                    <small class="text-white">Looking for <span class="text-orange">r!ping</span></small>
                </div>
            </div>
        </div>
    </div>
</div>